@model IEnumerable<WebApplicationAPP.Models.Inventario>

<h2>Lista de Inventario</h2>

<a asp-action="Create" class="btn btn-primary">Nuevo Registro</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>ProductoId</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductoId</td>
                <td>@item.Stock</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
